In [6]:
import pandas as pd

data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv' , sep=';')
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
train , test = train_test_split(data)
X_train = train.drop(['quality'] , axis=1)
X_test = test.drop(['quality'] , axis=1)
y_train  = train[['quality']]
y_test = test[['quality']]

In [11]:
X_train.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
291,11.0,0.200,0.48,2.0,0.343,6.0,18.0,0.99790,3.30,0.71,10.5
203,7.0,0.420,0.35,1.6,0.088,16.0,39.0,0.99610,3.34,0.55,9.2
1581,6.2,0.560,0.09,1.7,0.053,24.0,32.0,0.99402,3.54,0.60,11.3
109,8.1,0.785,0.52,2.0,0.122,37.0,153.0,0.99690,3.21,0.69,9.3
1220,10.9,0.320,0.52,1.8,0.132,17.0,44.0,0.99734,3.28,0.77,11.5

In [12]:
y_test

      quality
1565        6
474         6
253         5
932         6
24          6
...       ...
1491        5
1243        5
1448        5
889         5
1435        6

[400 rows x 1 columns]

In [14]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(X_train , y_train)
pred = rf.predict(X_test)
pred_prob = rf.predict_proba(X_test)
roc_auc_score(pred , pred_prob , multi_class='ovr')

c:\Users\Vishwamohan\OneDrive\Desktop\Vishu\MLOps\mlflow\venv\lib\site-packages\sklearn\base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

0.9967698379777188